/*  For all ===============================*/
*{
    font-family: "Quicksand";
}

/*  Main Page CSS ===============================*/
.titleText {
    background-image: url(../img/singapore.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 25px;
}

.titleText h1 {
    font-size: 80px;
}

.titleText p1 {
    font-size: 70px;
}

.resultContainer {
    background-color: rgb(243, 243, 243);
    padding: 55px 50px;
}

.resultContainer h2 {
    font-size: 50px;
}

.resultContainer h4 {
    font-size: 25px;
    font-style: italic;
}

.resultContainer p {
    font-size: 13px;
}

.navBar{
    padding: 5px;
    background: rgb(52, 49, 77);
}

.navBar ul {
    float: top;
    text-align: right;
    list-style-type: none;
}

.navBar ul li {
    display: inline-block;
}

.navBar ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 0.5s ease-in-out;
}

.navBar ul li a:hover{
    background-color: white;
    color: black;
}