/*  For all ===============================*/
*{
    font-family: "Quicksand";
}

/*  Main Page CSS ===============================*/
.titleText {
    background-image: url(../img/singapore.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 120px 25px;
}

.titleText h1 {
    font-size: 80px;
}

.titleText p1 {
    font-size: 70px;
}

.resultContainer {
    background-color: rgb(243, 243, 243);
    padding: 80px 50px;
}

.resultContainer h2 {
    font-size: 50px;
}

.resultContainer h4 {
    font-size: 25px;
    font-style: italic;
}

.resultContainer p {
    font-size: 13px;
}